body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.controls_wrap {
  display: flex;
}

.grid_wrap {
  margin-top: 40px;
  width: 264px;
  height: 264px;
}

.erase {
  animation: erase 0.5s ease-in-out;
}
@keyframes erase {
  0% {
    transform: rotate(0%);
  }

  12% {
    transform: rotate(-10.89deg);
  }

  24% {
    transform: rotate(-15.56deg);
  }
  68% {
    transform: rotate(5.56deg);
  }
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  transition: all 0.5s ease;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
