/******** VARIABLES *******/
$breakpoint: 768px;
$breakpoint-sm: 600px;
$breakpoint-lg: 769px;

/*** COLORS ***/
$blue-sky: #1b76d5;
$blue-light: #bbdefc;
$blue-dark: #094887;
$grey: #586673;
$grey-light: #efecec;
$grey-translucent: #efecece3;

/*** UTIL ***/

.tilted {
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}
.tilted:hover {
  transform: rotate(0deg);
}

.highlight {
  color: $blue-light;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0px;
  background-color: #fff;
  color: $grey;
}

h1 {
  padding: 20px;
}

button {
  cursor: pointer;
}

.page_wrap {
  display: flex;
  height: 100vh;
}

@media screen and (max-width: $breakpoint) {
  .col-2 {
    width: 100%;
  }
  .page_wrap {
    flex-direction: column;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .col-2 {
    padding: 20px;
  }
  .instructions {
    width: 25%;
    background-image: url("./img/mountains-re.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  .app_container {
    width: 75%;
  }
}

.instructions {
  background-color: $blue-sky;
  color: white;
  text-align: center;
}

.instructions_wrap {
  padding: 20px;
}

.app_container {
  background-color: $blue-light;
  display: flex;
  justify-content: center;
}

.app_wrap {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
}

.app_wrap_inner {
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: $breakpoint) {
  .app_wrap {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .app_wrap_inner {
    flex-direction: column;
  }
}

.controls_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  padding-bottom: 10px;
  border-radius: 6px 0px 0px 6px;
  align-self: center;
}

@media screen and (max-width: $breakpoint-sm) {
  .controls_wrap {
    flex-direction: row;
    border-radius: 6px 6px 0px 0px;
  }
}

.controls_button {
  position: relative;
  overflow: hidden;
  img {
    width: 12px;
    height: 12px;
    margin-bottom: 5px;
  }
}

.color_button,
.controls_button {
  border-radius: 3px;
  background-color: $blue-sky;
  border: none;
  margin: 10px 10px 0px 10px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  outline: none;
}

.controls_button::after,
.save_button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(206, 219, 231, 0.75);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  top: 50%;
  left: 50%;
  animation: ripple 1s;
  opacity: 0;
}

.controls_button:focus:not(:active)::after,
.save_button:focus:not(:active)::after {
  display: block;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

.grid_wrap {
  width: 352px;
  height: 352px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px;
  align-self: center;
  @media screen and (max-width: $breakpoint-sm) {
    border-radius: 0px 0px 6px 6px;
  }
}

.erase {
  animation: erase 0.75s ease-in-out;
}

@keyframes erase {
  0% {
    transform: translateY(0px);
  }
  12% {
    transform: translateY(-10.89px);
  }

  24% {
    transform: translateY(-12.56px);
  }
  40% {
    transform: translateY(5.56px);
  }
  70% {
    transform: translateY(-5.28px);
  }
}

.square {
  float: left;
  padding: 0;
  margin: 0;
  transition: all 0.75s ease;
  outline: none;
  min-width: 14px;
  flex-grow: 1;
  :focus {
    outline: none;
  }
}

.square:hover {
  cursor: pointer;
}

.palette_wrap {
  display: flex;
  margin-top: 10px;
  align-items: flex-end;
  flex-direction: column;
  color: $grey;
}

.palette_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
  p {
    margin: 0;
    padding: 0px;
  }
  img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
  svg {
    fill: $blue-dark;
  }
}

.palette_header:hover {
  img {
    transform: rotate(0deg);
  }
}

.palette_squares {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  min-height: 24px;
  max-width: 352px;
}

.palette_selected {
  width: 100%;
  margin-top: 5px;
}

#palette_select {
  background: none;
  color: #1b76d5;
  border: 1px solid #1b76d5;
  font-size: 12px;
  border-bottom: 2px solid #1a75d5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 10px;
  border-radius: 6px;
  padding: 6px 24px 5px 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E),
    linear-gradient(to bottom, #bbdefc 0%, #bbdefc 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  font-weight: 600;
  cursor: pointer;
}

.gitTab_wrap {
  img {
    width: 32px;
  }
}

/* colorpicker styles */
.colorpicker {
  flex-direction: column;
  background-color: $grey-translucent;
  border-radius: 0px 6px 6px 6px;
  color: $grey;
  font-size: 12px;
  position: absolute;
  width: 310px;
  z-index: 999;
  transform: translateX(-23px) translateY(10px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  @media screen and (max-height: 575px) {
    transform: translateX(47px) translateY(-47px);
  }
  p {
    text-align: left;
    margin: 5px 0px 0px 10px;
  }
  .palette_squares {
    margin: 10px;
  }
}

#picker {
  cursor: crosshair;
  float: left;
  margin: 10px;
  border: 0;
  z-index: 3;
}

.controls {
  display: flex;
  margin: 0px 5px;
  justify-content: space-between;
  padding: 0px 5px 5px 0px;
  div {
    overflow: hidden;
    padding-left: 5px;
  }
  div input {
    background-color: #121212;
    border: 1px solid #2f2f2f;
    color: #dddddd;
    font-size: 10px;
    height: 14px;
    margin-top: 5px;
    text-align: center;
    width: 100px;
  }
  label {
    text-align: center;
    margin-bottom: 15px;
    margin-right: 10px;
  }
}

.slider_wrap {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
  label {
    display: block;
    text-align: left;
  }
}

.slider {
  width: 136px;
}

#brightnessSlider,
#saturationSlider {
  -webkit-appearance: none;
  height: 3px;
  background: #121212;
  outline: none;
}

#brightnessSlider::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  cursor: pointer;
}

#saturationSlider::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  cursor: pointer;
}

.preview {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  height: 25px;
  width: 25px;
}
