body {
  font-family: "Arial", sans-serif;
  margin: 0px;
  background-color: #fff;
  color: #485167;
}

h1 {
  animation: float 15s ease infinite;
  padding: 20px;
}

ol,
ul {
  padding-left: 30px;
}

input {
  color: white;
  background-color: white;
}

.highlight {
  color: #88aacd;
}

.highlight_blue {
  color: #3872ab;
}

.page_wrap {
  display: flex;
  height: 100vh;
}

.col-2 {
  width: 50%;
}

.instructions {
  background-color: #064887;
  color: white;
  text-align: center;
}

.instructions_wrap {
  padding: 20px;
}

.app_container {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.app_wrap {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  margin: 20px;
}

.app_wrap_inner {
  display: flex;
}

.controls_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
  left: 30px;
  z-index: 1;
  border-radius: 6px;
  align-self: center;
}

.controls_button {
  border-radius: 6px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  margin: 10px 10px 0px 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  outline: none;
}

.controls_button::after,
.save_button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(206, 219, 231, 0.75);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;

  /* Center the ripple */
  top: 50%;
  left: 50%;

  animation: ripple 1s;
  opacity: 0;
}

.controls_button:focus:not(:active)::after,
.save_button:focus:not(:active)::after {
  display: block;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

.controls_button:hover,
.save_button:hover {
  cursor: pointer;
}

#colorPicker {
  cursor: pointer;
  width: 50px;
  border: none;
  background-color: #1976d2;
}

.grid_wrap {
  width: 384px;
  height: 384px;
  border: 1px solid #00000075;
  background-color: white;
  margin-left: 20px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 2;
  border-radius: 2px;
}

.erase {
  animation: erase 0.75s ease-in-out;
}

@keyframes erase {
  0% {
    transform: translateY(0px);
  }
  12% {
    transform: translateY(-10.89px);
  }

  24% {
    transform: translateY(-12.56px);
  }
  40% {
    transform: translateY(5.56px);
  }
  70% {
    transform: translateY(-5.28px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  12% {
    transform: translateY(-5.89px);
  }

  24% {
    transform: translateY(-6.56px);
  }
  40% {
    transform: translateY(5.56px);
  }
  70% {
    transform: translateY(-5.28px);
  }
}

.square {
  float: left;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: all 0.75s ease;
}

.square:focus {
  outline: none;
}

.palette_wrap {
  display: flex;
  padding: 0px 0px;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 30px 0px;
  color: #646262;
}

.palette_squares {
  display: flex;
  min-height: 30px;
}

.save_button {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #094887;
  color: white;
  outline: none;
  position: relative;
  overflow: hidden;
}

.gitTab_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 20px;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
  height: 50px;
  width: 50px;
}

.gitTab_wrap img {
  width: 32px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
