/******** VARIABLES *******/
$breakpoint: 1000px;
$breakpoint-sm: 768px;

body {
  font-family: "Arial", sans-serif;
  margin: 0px;
  background-color: #fff;
  color: #485167;
}

h1 {
  animation: float 15s ease infinite;
  padding: 20px;
}

ol,
ul {
  padding-left: 30px;
}

input {
  color: white;
  background-color: white;
}

button {
  cursor: pointer;
}

.highlight {
  color: #88aacd;
}

.highlight_blue {
  color: #3872ab;
}

.page_wrap {
  display: flex;
  height: 100vh;
}

@media screen and (max-width: $breakpoint) {
  .col-2 {
    width: 100%;
  }
  .page_wrap {
    flex-direction: column;
  }
}

@media screen and (min-width: $breakpoint) {
  .col-2 {
    width: 50%;
  }
}

.instructions {
  background-color: #064887;
  color: white;
  text-align: center;
}

.instructions_wrap {
  padding: 20px;
}

.app_container {
  background-color: #bbdefb;
  display: flex;
  justify-content: center;
}

.app_wrap {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  margin: 20px;
}

.app_wrap_inner {
  display: flex;
}

@media screen and (max-width: $breakpoint-sm) {
  .app_wrap_inner {
    flex-direction: column;
  }
}

.controls_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  padding-bottom: 10px;
  border-radius: 6px 0px 0px 6px;
  align-self: center;
}

@media screen and (max-width: $breakpoint-sm) {
  .controls_wrap {
    flex-direction: row;
    border-radius: 6px 6px 0px 0px;
  }
}

.controls_button {
  border-radius: 6px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  margin: 10px 10px 0px 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  outline: none;
}

.controls_button::after,
.save_button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(206, 219, 231, 0.75);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  top: 50%;
  left: 50%;
  animation: ripple 1s;
  opacity: 0;
}

.controls_button:focus:not(:active)::after,
.save_button:focus:not(:active)::after {
  display: block;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

#colorPicker {
  cursor: pointer;
  width: 50px;
  border: none;
  background-color: #1976d2;
}

.grid_wrap {
  width: 384px;
  height: 384px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 2;
  border-radius: 6px;
}

.erase {
  animation: erase 0.75s ease-in-out;
}

@keyframes erase {
  0% {
    transform: translateY(0px);
  }
  12% {
    transform: translateY(-10.89px);
  }

  24% {
    transform: translateY(-12.56px);
  }
  40% {
    transform: translateY(5.56px);
  }
  70% {
    transform: translateY(-5.28px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  12% {
    transform: translateY(-5.89px);
  }

  24% {
    transform: translateY(-6.56px);
  }
  40% {
    transform: translateY(5.56px);
  }
  70% {
    transform: translateY(-5.28px);
  }
}

.square {
  float: left;
  padding: 0;
  margin: 0;
  transition: all 0.75s ease;
  outline: none;
  :focus {
    outline: none;
  }
}

.square:hover {
  cursor: pointer;
}

.palette_wrap {
  display: flex;
  padding: 0px 0px;
  align-items: flex-end;
  flex-direction: column;
  color: #566879;
}

.palette_squares {
  display: flex;
  min-height: 30px;
}

.save_button {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #094887;
  color: #fff;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
}

.gitTab_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #bbdefb;
  padding: 20px;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
  height: 50px;
  width: 50px;
  img {
    width: 32px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

@media screen and (max-width: $breakpoint) {
  .gitTab_wrap {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    top: 0;
  }
  .gitTab_wrap img {
    top: 10px;
  }
}
