body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  background-color: #eee;
}

ol,
ul {
  padding-left: 30px;
}

input {
  color: white;
  background-color: white;
}

.page_wrap {
  display: flex;
}

.col-2 {
  width: 50%;
}

.app_wrap {
  display: inline-block;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  border-radius: 6px;
}

.app_wrap_inner {
  display: flex;
}

.controls_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls_button {
  border-radius: 6px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  margin: 3px;
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls_button:hover {
  cursor: pointer;
}

#colorPicker {
  width: 50px;
  border: none;
  background-color: #1976d2;
}

.grid_wrap {
  width: 384px;
  height: 384px;
  border: 1px solid #00000075;
  background-color: white;
  margin-left: 20px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.erase {
  animation: erase 0.75s ease-in-out;
}

@keyframes erase {
  0% {
    transform: translateY(0px);
  }
  12% {
    transform: translateY(-10.89px);
  }

  24% {
    transform: translateY(-12.56px);
  }
  40% {
    transform: translateY(5.56px);
  }
  70% {
    transform: translateY(-5.28px);
  }
}

.square {
  border: 1px solid #bebebe;
  float: left;
  /* height: 32px;
  width: 32px; */
  padding: 0;
  margin: 0;
  transition: all 0.75s ease;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
